<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>New Patient Form</title>
      <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <h1>Application MedicoLabo Solutions</h1>
      <h2>Add a new Patient</h2>

<!--
      Form space with different entries for new Patient
-->
      <div class="row">
        <form action="#" th:action="@{/patients/validate}" th:object="${patientBean}" method="post" class="form-horizontal" style="width: 100%">
          <div class="form-group col-md-6">
            <label for="firstname" class="col-sm-2 control-label">Firstname</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{firstname}" id="firstname" placeholder="Enter your Firstname" class="col-4">
              <div style="color: red;">
                <p class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="lastname" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{lastname}" id="lastname" placeholder="Enter your Last Name" class="col-4">
              <div style="color: red;">
                <p class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="birthDate" class="col-sm-2 control-label">Date of Birth</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{birthDate}" id="birthDate" placeholder="Use format : YYYY-MM-dd" class="col-4">
              <div style="color: red;">
                <p class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10" id="gender">
              <input  type="radio" th:field="*{gender}" name="gender" value="M" checked class="col-4">Male
              <input  type="radio" th:field="*{gender}" name="gender" value="F" class="col-4">Female
              <div style="color: red;">
                <p class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="address" class="col-sm-2 control-label">Home Address</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{address}" id="address" placeholder="Enter your Home Address" class="col-4">
              <div style="color: red;">
                <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="XXX-XXX-XXXX" class="col-4">
              <div style="color: red;">
                <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <a class="btn btn-danger btn-sm" th:href="@{/patients}">Cancel</a>
              <input class="btn btn-primary btn-sm" type="submit" value="Add New Patient">
            </div>
          </div>
        </form>
      </div>

    </div>
    <script type="text/javascript" src="webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  </body>
</html>